
.btn-primary {
    color: #fff;
    background-color: #e07446;

}
#tablica1{

    position: relative;
    background-color:white ;
    text-align: center;

}
#columns {

    padding: 0.9375rem;
    width: 100%;
    float: left;
text-align: center;


}


.large-3 {
  margin:5%;


}
.tablice{
    width:100%;
    text-align: center;


}
.tablica{
    width:100%;
    align:center;

}

.slike{
    width:200px;
    border-radius: 20%;
}
.slike1{
    width:150px;
    border-radius: 20%;
}
.card-header{
    text-align: center;

}
.card-body{
    text-align: center;
}


